@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}
body {
  width: 100%;
}
  /*Top Navbar*/
 .topnav {
            top: 0;
            left: 0;
            width: 100%;
            position: fixed;
            background-color: black;
            height: 50px;
            overflow: hidden; 
            z-index: 9;
    }
  /*   .topnav a { 
        color: white;
        line-height: 50px;
    } */
    label.logo {
        color: white;
        font-size: 35px;
        line-height: 50px;
        padding: 0 100px;
        font-weight: bold;
    }
    .topnav ul {
        width: 50%;
        margin-right: 20px;
        position: fixed;
        display: flex;
        font-size: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        
    }
    .topnav ul li {
        width: 90px;
        display: inline-block;
        line-height: 50px;
        margin-left: 3px;
        padding: 0 7px 0 7px;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
    }
    .topnav ul li a {
        text-decoration: none;
        list-style-type: none;
        color: #fff;
        text-shadow: 1px 2px 2px 2px black;
    }
    .topnav ul li:hover {
        height: 100%;
        background-color: red;
        transition: 0.5s;   
    }
    .topnav ul li a:active {
      background-color: red;
    } 
  
    .responsive {
        display: none;
    }   
.header-site {
  width: 100%;
  background-image: url("../images/fundo.jpg");
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 400;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: 1px 1px 2px black;
  overflow: hidden;
}
.logo {
  width: 420px;
}
.logo-small {
  width: 110px;
}
.container {
  width: 100%;
}
.content-site {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #000;
  background-image: url('../images/12490.jpg');
  
}
.content-site p {
  font-size: 1.3em;
}
.img-size {
  border: 1px solid rgb(196, 196, 196);
  width: 300px;
  height: 170px;
  object-fit: cover;
  
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card {
  height: 325px;
  flex: 0 0 200px;
  padding: 7px;
  margin: 8px;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.card h3, p {
  text-align: center;
  font-weight: 500;
  padding-bottom: 10px;
  
}
.card:hover {
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.card a {text-decoration: none;}
.card a:hover {color: red;}
.parallax {
  background-image: url("../images/naom_5bebe479d234a.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 200px;
  color: white;
}
.parallax li {
  text-decoration: none;
  list-style-type: none;
}

.footer-site {
  background-color: #333333;
  color: aliceblue;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-links li {
    list-style-type: none;
    
}
.footer-links li a {
    
    text-decoration: none;
    color: #fff;
    
}
.left {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}
.text-left {
    text-align: left;
}
.avatar {
    margin-top: 0;
    width: 200px;
    height: 100%;
    margin: 10px;
    border-radius: 100px;
    overflow: hidden;
}

.left img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.lk li a {
  font-size: 1.8em;
  color: white;
  text-shadow: 1px 1px 2px black;
  list-style-type: none;
  text-decoration: none;
}
.lk a:hover {
  color: red;
}
.icon-size-1 {
    width: 300px;
}
.links-contato a { text-decoration: none;}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 2px 2px;
}
.ic {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.ic img {
  width: 30px;
  margin: 4px;
}

@media (max-width: 600px) {
       
        .responsive {
            text-align: center;
            display: block;
            cursor: pointer;
            font-size: 17px;
            font-weight: 500;
            height: 100%;
            height: 45px;
            line-height: 45px;
        }
         .ico-menu {
          font-size: 17px;
          text-decoration: none;
          /* margin: 2px 2px; */
          line-height: 10px;
    }
        .topnav a { 
          color: white;
          line-height: 45px;
          text-decoration: none;
          margin: 5px;
      }
        .topnav ul {
           width: 100%;
           text-align: center;
           display: none;
           background-color: black;
           opacity: 0.8;
        }
        .topnav ul li {
          width: 100%;
          display: block;
          line-height: 50px;      
        }
        ul li:hover {
            background-color: red;
            color: white;
        }
    }
@media (max-width: 600px) {
    .header-site {
      background-repeat: no-repeat;
      height: 100vh;
      width: 100vw;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      background-attachment: fixed !important;
      background-size: cover;
    }
    .content-site {
      background-image: url('../images/12490.jpg');
    }
}