<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cards.css">
</head>

<body>
    <div id="container-cards" class="container-cards">
        <!-- Cards serão injetados aqui -->
        <div class="card">
            <img src="../images/getapi.jpg" alt="Imagem do Card">
            <h2>Card 1</h2>
            <p>Lorem opop ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.
            </p>
            <button>Saiba Mais</button>
        </div>
    </div>

    <div id="container-exp" class="container-exp">
        <div id="resumo"></div>
        <div class="card-context">
            <h2>Card 1</h2>
            <p>Lorem opop ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.
            </p>
            <p>Lorem opop ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.
            </p>
            <p>Lorem opop ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="card-context">
            <h2>Card 2</h2>
            <p>Lorem opop ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.
            </p>
            <p>Lorem opop ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.
            </p>
            <p>Lorem opop ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>

    </div>
    <script src="./cards.js"></script>
</body>

</html>